<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Glass" version="0.1.1" targetFramework="net461" />
  <package id="OmniXaml" version="0.1.1" targetFramework="net461" />
  <package id="OmniXaml.Services" version="0.1.1" targetFramework="net461" />
  <package id="OmniXaml.Services.DotNetFx" version="0.1.1" targetFramework="net461" />
  <package id="OmniXaml.Services.Mvvm" version="0.1.1" targetFramework="net461" />
  <package id="OmniXaml.Wpf" version="0.1.1" targetFramework="net461" />
  <package id="Sprache.SuperJMN" version="2.0.0.50" targetFramework="net461" />
</packages>